@use "./partials/reset" as *;
@use "./partials/fonts" as *;
@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero,
.about,
.gallery,
.comments {
  @include sides-padding;
}
.hero {
  height: 58vw;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  @include desktop {
    height: 52vw;
  }
  &__title {
    color: $primary-white;
    @include page-header;
  }
}
.about__title,
.gallery__title {
  @include section-header;
}
.article {
  display: flex;
  flex-direction: column;
  @include tablet {
    margin: 2rem 4rem;
    gap: $tablet-btwn-components;
  }
  &__image-container {
    display: flex;
    align-items: center;
    height: 50vw;
    overflow: hidden;
    @include tablet {
      height: 40vw;
    }
    @include desktop {
      height: 35vw;
    }
  }
  &__image {
    width: 100%;
  }
  &__quote {
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: $demi;
    margin: 0.5rem 0;
    @include tablet {
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: $demi;
      margin: $tablet-btwn-components 0;
    }
  }
  &__quote-author {
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: $demi;
    @include tablet {
      font-weight: $demi;
    }
  }
  &__subtitle {
    @include subheader;
  }
  &__content-container {
    @include tablet {
      display: flex;
      gap: 1rem;
    }
  }
  &__content {
    @include copy;
  }
}
.gallery {
  background: $secondary-white;
  display: flex;
  flex-direction: column;
  padding-bottom: $mobile-btwn-components;
  &__photos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__photo {
    filter: grayscale(80%);
    width: 100%;

    &:hover {
      filter: none;
    }
    @include tablet {
      width: 31%;
      flex-grow: 1;
    }
  }
}
.comments {
  background-color: $primary-white;
  margin-bottom: $mobile-btwn-components;
  &__title {
    @include section-header;
  }
  &__form-list {
    display: flex;
    flex-direction: column;
    @include tablet {
      align-items: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
  }
  &__container {
    display: flex;
    gap: $mobile-btwn-components;
    padding: $mobile-btwn-components 0;
    width: 100%;
    @include divider;
    @include tablet {
      gap: $tablet-btwn-components;
      width: 80%;
    }
    @include desktop {
      width: 50%;
    }
  }
}
.comment {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-grow: 1;
  gap: $mobile-btwn-components;

  &__name,
  &__date,
  &__content {
    @include copy;
  }
  &__name {
    font-weight: $demi;
  }
  &__date {
    color: $primary-gray;
    padding-left: 1rem;
    flex-grow: 1;
  }
  &__likes {
    color: $primary-gray;
    cursor: pointer;
    &:hover {
      color: $primary-black;
    }
  }
  &__delete {
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  &__top {
    display: flex;
  }
  &__likes {
    align-self: flex-start;
  }
}
.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: $mobile-btwn-components;
  &__input-container {
    display: flex;
    flex-direction: column;
  }
  &__input {
    background-color: $secondary-white;
    min-height: 2.25rem;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid $secondary-gray;
    &:active,
    &:focus {
      border: 2px solid $primary-black;
    }
    &::placeholder {
      color: $secondary-black;
    }
    &--error {
      border: 2px solid red;
    }
  }
  &__label {
    @include labels;
  }
  &__button-container {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    @include button;
    cursor: pointer;
  }
}
.avatar {
  overflow: hidden;
  background-color: $secondary-gray;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  margin-top: 1rem;
  @include tablet {
    height: 3rem;
    width: 3rem;
  }
  &__image {
    height: 2.3rem;
    @include tablet {
      height: 3rem;
    }
  }
}
