@use "./partials/reset" as *;
@use "./partials/fonts" as *;
@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero,
.shows {
  @include sides-padding;
}
.hero {
  height: 17rem;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../assets/images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: $primary-white;
  @include tablet {
    height: 30rem;
    gap: 0;
  }
  @include desktop {
    height: 39rem;
    flex-direction: row;
    align-items: center;
  }
  &__layout {
    @include desktop {
      width: 85%;
    }
  }
  &__album {
    @include subheader;
    margin: 0;
  }
  &__song {
    @include page-header;
    @include tablet {
      padding-right: 6rem;
      margin-bottom: 3rem;
    }
  }
  &__soundcloud {
    width: 100%;
    height: 6rem;
    @include tablet {
      width: 60%;
      height: 9rem;
    }
  }
}
.shows {
  padding-top: $mobile-btwn-components;
  padding-bottom: $mobile-btwn-components;
  @include desktop {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
  }
  &__list {
    @include desktop {
      flex-grow: 1;
    }
  }
  &__title {
    @include section-header;
    @include desktop {
      width: 15rem;
    }
  }
}
.show {
  display: flex;
  flex-direction: column;
  gap: $mobile-btwn-components;
  padding-top: $mobile-btwn-components;
  padding-bottom: $mobile-btwn-components;
  @include divider;
  &:hover {
    background-color: $secondary-white;
  }
  @include tablet {
    flex-direction: row;
    align-items: center;
  }
  &--header {
    @include labels;
    display: none;
    @include tablet {
      border-bottom: none;
      padding: 0;
      display: flex;
    }
  }
  &__column {
    @include tablet {
      width: 25%;
    }
    @include desktop {
      padding-left: 2rem;
    }
  }
  &__label {
    display: block;
    @include labels;
    margin: 0;
    @include tablet {
      display: none;
    }
    &--header {
      @include tablet {
        display: block;
      }
    }
  }
  &__info {
    @include copy;
    &--main {
      font-weight: $demi;
    }
  }
  &__button {
    @include button;
  }
}
